header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
}

main {
    width: 100%;
}
.busca {
    display: flex;
    width: 100%;
    height: 2rem;
    margin: 0;
    align-items: center;

}

input[type=text] {
    width: 100%;
}

h2{
    display: flex;
    width: 100%;
    height: 2rem;
    margin: 1rem;
    align-items: center;
}

.mais_vistos {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}
.botoes li{
    padding: 1rem;  
    border: .1rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;

}